<form action="/toTXT" >
    <p>name of your auto</p>
    <input type="text" name="autoName" id="">
    <p>auto`s model</p>
    <input type="text" name="autoModel" id="">
    <p>how many hp in your car</p>
    <input type="number" name="autoHorsePower" id=""><br><br>
    <input type="submit" name="submit" id="">
</form>
<a href="/listOfCars">Cars list that u like</a>
